@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #2a2424;
  background: #cfcfdd;
}

body input,
body textarea {
  color: black;
}

a {
  color: #2d7bd4;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}

h1, h2, h3, h4, h5, h6 {
  color: #211f6b;
}