@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #f8f8f8; /* Bright text color */
  --color-background: #131318; /* Dark background color */
  --color-link: #2d7bd4; /* Default link color */
  --color-code: #ffa500; /* Code color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #131318; /* Dark text color */
    --color-background: #f8f8f8; /* Bright background color */
    --color-link: #2d7bd4; /* Default link color */
    --color-code: #ffa500; /* Code color */
  }
}

body {
  color: var(--color-text);
  background: var(--color-background);
}

body input,
body textarea {
  color: var(--color-text);
}

a {
  color: var(--color-link);
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: var(--color-code);
}

li {
  padding: 4px;
}
